@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Roboto', sans-serif; */
:root{
    --Tomato: hsl(4, 100%, 67%);
    /* --Tomato-light: hsl(4, 100%, 74%); */
    --Tomato-light2: rgb(255, 68, 99);

    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: var(--Charcoal-Grey);
}

.container{
    max-width: 1100px;
    /* display: none; */
}
.inner_container{
    background-color: var(--White);
    display: flex;
    width: 700px;
    max-width: 800;
    padding: 20px;
    border-radius: 30px;
    overflow: hidden;
}

.img img{
    max-width: 100%;
    width: 100%;
    animation: imgComes 1.5s ease forwards;
    transform: translateY(-3000%);
}

.left .inner_left{
    padding: 30px;
}
.inner_left h1,.inner_confirm h1{
    font-size: 2.5rem;
    color: var(--Charcoal-Grey);
    margin: 20px 0;
    transform: translateY(-3000%);
    animation: comingTop 1s ease forwards;
}

.inner_left p{
    font-size: 14px;
    transform: translateX(300%);
    animation: comingRight 1s ease forwards;
}

ul{
    list-style: none;
    margin: 20px 0;
    animation: comingLeft 1s ease forwards;
    transform: translateX(-300%);
}
ul li{
    display: flex;
    font-size: 12px;
    margin: 4px 0;
    align-items: center;
}
ul li img{
    width: 14px;
    margin-right: 10px;
}

small{
    display: none;
}
small.error{
    font-size: 10px;
    color: red;
    display: initial;
}
.labels{
    display: flex;
    justify-content: space-between;
    width: 92%;
    max-width: 100%;
    margin-bottom: 7px;
    transform: translateX(300%);
    animation: comingRight 1s ease forwards;

}
label{
    font-size: 11px;
    font-weight: 800;
    display: inline-block;
}
input.error{
    border: 1px solid red;
}
input.error::placeholder{
    color: red;
}
input{
    max-width: 100%;
    width: 92%;
    padding: 12px;
    border: .1px solid rgb(223, 223, 223);
    border-radius: 5px;
    outline: none;
    margin-bottom: 7px;
    cursor: pointer;
    transform: translateX(-300%);
    animation: comingLeft 1s ease forwards;
}


input:focus{
    border: 1px solid gray;
}
input:focus::placeholder{
    color: var(--Grey);
}

button{
    max-width: 100%;
    width: 92%;
    margin-top: 26px;
    padding: 14px;
    background-color: var(--Dark-Slate-Grey);
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 6px;
    position: relative;
    transform: translateX(300%);
    animation: comingRight 1s forwards ease;
}
button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: red;
    background-image: linear-gradient(to right, var(--Tomato),var(--Tomato-light2));
    transition: .5s ease;
    border-radius: 6px;
}
button span{
    z-index: 100;
    display: inline-block;
    position: relative;
}
button:hover::before{
    width: 100%;
}





@keyframes comingLeft {
    from{
        transform: translateX(-300%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes comingRight {
    from{
        transform: translateX(300%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes comingTop {
    from{
        transform: translateY(-3000%);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes imgComes {
    from{
        transform: translateY(-3000%);
    }
    to{
        transform: translateY(0);
    }
}


.confirm{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    display: none;
}
.inner_confirm{
    padding: 50px;
    overflow: hidden;
}
.confirm img{
    width: 47px;
    animation: comingTop ease 2s forwards;
}

.inner_confirm h1{
    line-height: 1;
    font-weight: 700;
}
.inner_confirm p{
    animation: comingLeft ease .5s forwards;
    font-size: 12px;
    line-height: 1.6;
    color: var(--Dark-Slate-Grey);
    font-weight: 500;
}

.mobile{
    display: none;
}


/*------------------------ media query --------------------------- */
@media screen and (max-width:700px) {
    .container{
        width: 100%;
    }
    .inner_container{
        background-color: var(--White);
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        max-width: 100%;
        padding: 0;
        border-radius: 0;
        height: 100vh;
        margin: 0;
    }

    .img .desktop{
        display: none;
    }

    .img {
        height: 100%;
    }
    .right,.left{
        min-width: 100%;
    }

    .img img{
        display: block;
        min-height: 100%;
        min-width: 100%;
        object-fit: cover;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-size: cover;
    }
}